body {
    font-family: 'Amiri';
}
table {
  direction: rtl;
	font-size: 22px;
  text-align: right;
}
p {
  font-size: 18px;
}
span {cursor:pointer; }

.number{
	margin:10px;
}
.minus, .plus{
	width:20px;
	height:20px;
	background:#f2f2f2;
	border-radius:4px;
	padding:8px 5px 8px 5px;
	border:1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
#counter {
	height:34px;
  width: 100px;
  text-align: center;
  font-size: 16px;
	border:1px solid #ddd;
	border-radius:4px;
  display: inline-block;
  vertical-align: middle;
}
#inputfile, #stopwordsfile {
  font-size: 16px;
  margin:10px;

}
